.container {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  @media (min-width: 768px) {
    width: 40%;
  }
}

.search {
  background-color: var(--background-card-color);
  color: var(--text-color);
  height: 3rem;
  border: none;
  width: 100%;
  outline: none;
  border-radius: 5px;
  padding-left: 3rem;
  padding-right: 1rem;
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.05);
  transition: box-shadow var(--animation-duration) ease-in-out;

  &:focus {
    box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2);
  }

  &::placeholder {
    color: var(--secondary-text-color);
  }
}

.icon {
  position: absolute;
  display: block;
  left: 1rem;
  color: var(--secondary-text-color);
}
